*{
    margin: 0;
    padding: 0;
}

.contact-us{
    background: #f8f4e5;
    padding: 50px 100px;
    border: 2px solid rgba(red, green, blue, alpha);
    box-shadow: 15px 15px 1px #8E8D8A;
    

}

input{

    display: block;
    width: 100%;
    font-size:  14pt;
    line-height:  14pt * 2;
    font-family: 'Fjalla One';
    margin-bottom:  14pt * 2;
    border: none;
    border-bottom: 5px solid #D8C3A5;
    background:  #f8f4e5;
    min-width: 250px;
    padding-left: 5px;
    outline: none;
    color: #8E8D8A;
}

