
.form{
    background: #eeeeee;
    padding: 50px 100px;
    box-shadow: 7px 7px #8E8D8A;
    border: 1px solid #95a5a6;
    border-radius: 20px;
    margin-left:350px;
    margin-right:350px;
    
}

input{
    width: 100%;
    font-size:  14pt;
    font-family: 'Fjalla One',sans-serif;;
    border: none;
    border-bottom: 3px solid white;
    background:  #eeeeee;
    outline: none;
    color: #95a5a6;
    line-height: 40px;
}


  
button{
  display: block;
  margin: 0 auto;
  padding: 5px ;
  letter-spacing: 2px;
  outline: none;
  border: none;
  line-height: 14pt;
  /* border: 1px solid #8E8D8A; */
  /* box-shadow: 3px 3px 1px #95a5a6, 3px 3px 1px 1px; */
  margin-top: 20px;

}