
.container{
    margin-top: 20px;
}

.contact-us{
    background: #eeeeee;
    padding: 50px 100px;
    border: 2px solid rgba(red, green, blue, alpha);
    box-shadow: 7px 7px 2px #8E8D8A;
}


input{

    width: 100%;
    font-size:  14pt;
    font-family: 'Fjalla One',sans-serif;;
    border: none;
    border-bottom: 3px solid white;
    background:  #eeeeee;
    outline: none;
}

