
body{
	font-size: 16px;
	line-height: 1.8;
	font-weight: normal;
	background: #f8f9fd;
	color: lighten(50%);
}

.heading-section{
	font-size: 28px;
	
}

thead{
	border: none;
	padding: 30px;

		
}

th{
	margin-bottom: 10px;
	background-color: #eeeeee;
	padding:10px;
	color:#777373;
	
}

td{
	border: none;
	padding:30px;
	font-size: 14px;
	color: black;
}

button{
	border: none;

}