
body{
	font-size: 16px;
	line-height: 1.8;
	font-weight: normal;
	background: #f8f9fd;
	color: lighten(black,50%);
}
a {
	transition: .3s all ease;
	color: primary;

}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	font-weight: 400;
	font-family: font-primary;
	color: black;
}

.bg-primary{
	background: primary !important;
}

.ftco-section{
	padding: 7em 0;
}

.ftco-no-pt{
	padding-top: 0;
}
.ftco-no-pb{
	padding-bottom: 0;
}
.heading-section{
	font-size: 28px;
	color: black;
}

/* .img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
} */
/* 
.table-wrap{
	@include media-breakpoint-down(xl){
		overflow-x: scroll;
	}
}

.table{
	min-width: 1000px !important;
	width: 100%;
	border-collapse:separate;
  border-spacing: 0 10px;
} */

