

body{
	font-size: 16px;
	line-height: 1.8;
	font-weight: normal;
	background: #f8f9fd;
	color: lighten(50%);
}


h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	font-weight: 400;

	color: black;
}



.heading-section{
	font-size: 28px;
	color: black;
}

thead{
	border: none;
	padding: 30px;
		
}

tr{
	margin-bottom: 10px;
	
	background-color: black;
}

th,td{
	border: none;
	padding:30px;
	font-size: 14px;
}